.chart-wrapper {
    max-width: 950px;
    min-width: 304px;
    height: 400px;
    margin: 0 auto;
    background-color: #FAF7F7;
}

.chart-wrapper text {
    font-family: sans-serif;
    font-size: 14px;
  }

.line {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

.axis line,.axis path {
    fill: none;
    stroke: black;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
    stroke-width: 1px;
}
  
  /*
   * align text with a tick
   */
  .tick text{
    text-anchor: middle; /* or start or end */
  }

.y1 {
    stroke: steelblue;
}

.y2 {
    stroke: red;
}

.legend  {
    min-width: 200px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 16px;
    padding: 10px 40px;
}

.legend > div {
    margin: 0px 25px 10px 0px;
    flex-grow: 0;
}
  
.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}
  
.focus circle {
  fill: none;
  stroke: steelblue;
}